<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body onload="getUser()">
    <h1 id="welcome">Hello!</h1>

    <button id="profile-btn">Profile</button>

    <button id="logout-btn">Logout</button>

  </body>

  <script>
    let logoutBtn = document.getElementById("logout-btn")

    logoutBtn.addEventListener("click", () => {
      fetch("/user/logout", {
        method: "POST",
        headers: {
          "Content-Type": "application/json"
        }
      })
        .then(res => {
          window.location.replace('/')
        })
    })

    let profileBtn = document.getElementById("profile-btn")

    profileBtn.addEventListener("click", () => {
      window.location.replace('/profile')
    })

    function getUser() {
      welcomeWrapper = document.getElementById("welcome");
      user = {};
      fetch("/user", {
        method: "GET",
        headers: {
          "Content-Type": "application/json",
        },
      })
        .then((res) => res.json())
        .then((data) => {
            welcomeWrapper.innerHtml += data.user.username;
        });
    }
  </script>
</html>
