<html>
  <head>
    <title>CSE312 Project</title>
    <link rel="stylesheet" type="text/css" href="../style.css" />
    <script src="../functions.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <form action="/login" method="POST">
      <h2>Login Form</h2>
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" required />

      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required />

      <button type="submit">Login</button>
    </form>

  </body>
</html>
